.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    background-color: whitesmoke;
}

.maintitle{
    font-weight: bold;
}

.orderbutton{
    background-color: royalblue;
}

.data{
    font-family: 'Times New Roman', Times, serif;
}

.modaltitle{
    background-color: burlywood;
}
